.explore {
  padding: 60px 24px;
}
@media (min-width: 768px) {
  .explore {
    padding: 60px 40px;
  }
}
@media (min-width: 1280px) {
  .explore {
    padding: 110px 80px;
  }
}

.explore h2 {
  font-size: 2.4rem;
  margin-bottom: 28px;
}

.explore__grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
@media (min-width: 768px) {
  .explore__grids {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .explore__grids {
    grid-template-columns: repeat(3, 1fr);
  }
}
